main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0 5em 0;
}

.form {
  padding: 2em 0.5em 2em 0.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: space-between;
  justify-content: flex-start;

  &__basic-info {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__first-row {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      &__sex {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        &__radio-group {
          padding: 0.5em;
          & > mat-radio-button {
            margin-right: 1em;
          }
        }
      }
    }

    &__second-row {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      & > * {
        width: 75%;
      }
    }
  }

  &__location {
  }

  &__occupation {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }

  &__credentials {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__first-row {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    &__second-row {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__submit-btn {
    margin-top: 1em;
  }

  & mat-form-field {
    margin-inline: 0.2em;
    margin-bottom: 0.5em;
    min-width: 20em;
  }
}

hr {
  width: 90%;
  border-top: 1px;
}
