<header>

  <transfusion-navigation [logoutPossible]='logoutPossible' (logout)='logout()'>

    <ng-container class="brand-cont">
      <button mat-button disableRipple='true' class='my-icon-button' [routerLink]="['/administrator']">
        <mat-icon>manage_accounts</mat-icon>
        <span class="mat-display-1">Administrator</span>
      </button>
    </ng-container>

    <ng-container class="primary-navigation-cont">
      <a mat-button [routerLink]="['center-management']">
        <span class='mat-title'>Center management</span>
      </a>
      <a mat-button [routerLink]="['staff-management']">
        <span class='mat-title'>Staff management</span>
      </a>
      <a mat-button [routerLink]="['administrator-management']">
        <span class='mat-title'>Administrator management</span>
      </a>
    </ng-container>
  </transfusion-navigation>
</header>

<main>
  <router-outlet></router-outlet>
</main>
