<h1>staff-hello works!</h1>

<p>Have you already said hello to the staff? {{hasSaidHello$ | async}}</p>
<p>Have you said hello to the administrator? {{hasAdministratorSaidHello$ | async}}</p>

<ng-container *ngIf="hasSaidHello$ | async; then happy else sad">
</ng-container>

<ng-template #happy>
  <img src="https://media.tenor.com/2crKC0rsbcIAAAAC/mr-bean-funny.gif" />
</ng-template>
<ng-template #sad>
  <img src="https://media.tenor.com/vyHkpUjxjWYAAAAM/hug-me-im-sad.gif" />
</ng-template>

<button (click)="sayHello()">Say hello</button>

<button (click)="sayAdministratorHello()">Say hello to administrator</button>
